body{
    color: #333;
    text-align: center;
    font-family: "arial";
    font-size: 16px;
    margin: 0;
    padding: 0;
    background: #002c50;
    margin-top: 60px;
}
#cabecera{
    background: #002c50;
    color: white;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container{
    width: 60%;
    padding: 1em;
    text-align: left;
    margin: 0 auto;
    color:#bababa;
    background: #050B30;

}
#container h1{
    font-size: 20px;
    color:white;
}
#footer{
    background: rgb(80, 80, 102);
    width: 60%;
    text-align: center;
    padding: 1em;
    color:white;
    margin: 0 auto;
    height: 20px;
}

#logo{
    height: 18px;
    width: 18px

}