#container{
    width: 70%;
    text-align: left;
    font-family: Arial;
    font-size: 26px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #bababa;
    border-radius: 20px;
    margin: 30px auto;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    background: #0072a7;
    color: #ffff;
}

#cabecera{
    text-align: center;
    font-size: 12px;
    background: #eb1478;
    color: #ffe7e7;
    border-radius: 10px;
}
